.services_wrapper {
    position: relative;
    width: 1150px;
    top: 350px;
    left: 50px;
    color: #1D252E;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

.services_main {
    display: flex;
    height: 100%;
    width: 150px;
    flex-direction: column;
}